<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maidan</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Maidan.styles.css" asp-append-version="true" />
    
    <!-- Dışarıdan alınan -->
    <link rel="icon" href="/assets/img/favicon.ico" asp-append-version="true">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet" asp-append-version="true">
    <!-- Custom styles for this template -->
    <link href="/assets/css/mediumish.css" rel="stylesheet" asp-append-version="true">
</head>
<header>
    <!-- Begin Header
    ================================================== -->
    <header>
        <!-- Begin Nav
        ================================================== -->
        <partial name="_NavBarPartialView.cshtml"></partial>
        <!-- End Nav
        ================================================== -->
    </header>
    <!-- End Header
    ================================================== -->
</header>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
<!-- Begin Footer
   ================================================== -->
<footer class="container footer position-static">
    <div>
        <p class="pull-left">
            Copyright &copy; 2017 Your Website Name
        </p>
        <p class="pull-right">
            Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
        </p>
    </div>
    
</footer>
<!-- End Footer
================================================== -->
<!-- /.container -->
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.min.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous" asp-append-version="true"></script>
<script src="/assets/js/bootstrap.min.js" asp-append-version="true"></script>
<script src="/assets/js/ie10-viewport-bug-workaround.js" asp-append-version="true"></script>

<!--Kendi Layout Kısmı-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
